/.idea/.idea.GarageSpace/.idea/
/GarageSpace.sln.DotSettings.user
/src/GarageSpace/bin
/src/GarageSpace/obj
/src/GarageSpace.*/bin
/src/GarageSpace.*/obj
/src/GarageSpaceAPI.*/bin
/src/GarageSpaceAPI.*/obj
/Tests/bin
/Tests/obj
/.vs
/obj

# Ignore all bin and obj folders in any Tests directory
Tests/GarageSpace.UnitTests/bin/
Tests/GarageSpace.UnitTests/obj/
Tests/GarageSpace.IntegrationTests/bin/
Tests/GarageSpace.IntegrationTests/obj/
